body {
  background-color: var(--background);
  color: var(--text-base);
  display: flex;
  place-content: center;
  height: 100vh;
  position: relative;
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url("./assets/images/side-image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    transition: 0.2s;
  }

  Form {
    position: relative;
    left: -25vw;
    transition: 0.2s;
  }
}

@media screen and (min-width: 2000px) {
  body {
    background-image: url(/src/assets/images/side-image-2x.jpg);
    background-size: auto;
    background-position-y: -500px;
  }
}
@media screen and (min-height: 1200px) {
  body {
    background-image: url(/src/assets/images/side-image-2x.jpg);
    background-size: center;
    background-position-y: bottom;
  }
}
